<!DOCTYPE html>
<html>
<head>
<title>Alpha_blog-About</title>
</head>
<body>

<h1>Alpha-blog - About page</h1>
<p>This is the alpha-blog about page.</p>
<h2>What you can do here</h2>
<p>Use the following links to navigate around:
  <ul>
    <li><%=link_to 'Home', root_path%></li>
    <li><%=link_to "Alpha-Blog", articles_path %></li>
  </ul>
</p>
<p>
  Here I am with my buddy Tom.
</p>
<p>
  <img src = "https://scontent.fbed1-2.fna.fbcdn.net/v/t1.0-9/18921792_10209359616047606_6584940622871706125_n.jpg?oh=5e6a0a3526618d53f607f813ff532a96&oe=5A642F25", "Tom and me" />
</p>
</body>
</html>