<!DOCTYPE html>
<html>
<head>
<title>Alpha_blog-Home</title>
</head>
<body>
<div class="center jumbotron">
  <h1>Alpha Blog - Home page</h1>
  <p>Welcome to the alpha blog home page.</p>
  <p><%= link_to "Sign Up Now", "", class: "btn btn-primary btn-lg btn-xlarge" %></p>
</div>
</body>
</html>