<!DOCTYPE html>
<html>
<head>
<title>Alpha_blog-Home</title>
</head>
<body>

<h1>Alpha-blog - Home page</h1>
<p>Welcome to the alpha-blog home page.</p>
<h2>What you can do here</h2>
<p>Use the following links to navigate around:
  <ul>
    <li><%=link_to 'About', about_path%></li>
    <li><%=link_to "Alpha-Blog", articles_path %></li>
  </ul>
</p>
<p>
  Here I am at the Patriots vs Jets game
</p>
<p>
  <img src = "https://scontent.fbed1-2.fna.fbcdn.net/v/t1.0-9/22450020_10100272337176264_348210932729904877_n.jpg?oh=6c3f9542324ddebb669e40229dce6bee&oe=5A9BFE7A", "Pats v Jets" />
</p>
</body>
</html>